streamlit       # Interface Web interativa
pandas          # Manipulação e análise de dados
sqlalchemy      # ORM para banco de dados
python-dotenv   # Gestão de variáveis de ambiente
plotly          # Gráficos interativos
pyodbc          # Driver para conexão com SQL Server
pydantic